<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kryptowire.daze"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Needed for >= Android 8.X -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kryptowire.daze.ITA_MainAct"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.kryptowire.daze.continue" />
            </intent-filter>
        </activity>
        <service android:name="com.kryptowire.daze.service.ITA_IntentService" android:exported="false" />
        <service android:name="com.kryptowire.daze.service.ITA_OOMService" android:exported="false" />
        <activity android:name="com.kryptowire.daze.activity.ITA_ExceptionTypeSelection" />
        <activity android:name="com.kryptowire.daze.activity.ITA_DisplayResult" />
        <activity android:name="com.kryptowire.daze.activity.ITA_Settings" />
        <activity android:name="com.kryptowire.daze.activity.ITA_AppSelection" />
        <activity android:name="com.kryptowire.daze.activity.ITA_ReadMe" />
        <activity android:name="com.kryptowire.daze.activity.ITA_CrashSelection" />
        <activity android:name="com.kryptowire.daze.activity.ITA_SystemMonitoring" />
        <activity android:name="com.kryptowire.daze.activity.ITA_PermInfo" />
        <provider android:name="com.kryptowire.daze.provider.ITA_Provider" android:authorities="com.kryptowire.daze.provider" android:exported="false" />
        <receiver android:name="com.kryptowire.daze.receiver.ITA_BootReceiver" android:exported="true" >
        	<intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
